## Visual Studio / C# Ignore
.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Publicaciones y temporales
publish/
publish-test/
*.log
*.zip

## Entornos locales
appsettings.Local.json
tools/
